@import url("5-sections/palette.css");
@import url("5-sections/video.css");
@import url('1-responsive/responsive.css');
@import url("3-base/style.css");
@import url("3-base/sec_generic.css");
@import url("4-layout/header_hero.css");
@import url("4-layout/menu.css");
@import url("4-layout/rodape.css");
@import url("2-components/preloader.css");
@import url("2-components/modal_img.css");
@import url("5-sections/comofunciona.css");
@import url("5-sections/consultoria.css");
@import url("5-sections/diferenciais.css");
@import url("5-sections/faq.css");
@import url("5-sections/feedback.css");
@import url("5-sections/planos.css");
@import url("5-sections/resultados.css");
@import url("5-sections/simetria.css");
@import url("5-sections/sobre.css");
