/* Ordem obrigatória: base, layout, components, sections, responsivo */
@import url("base/style.css");
@import url("base/sec_generic.css");
@import url("layout/header.css");
@import url("sections/01_hero.css");
@import url("layout/menu.css");
@import url("layout/rodape.css");
@import url("components/preloader.css");
@import url("components/modal_img.css");
@import url("sections/05_comofunciona.css");
@import url("sections/02_consultoria.css");
@import url("sections/06_diferenciais.css");
@import url("sections/10_faq.css");
@import url("sections/09_feedback.css");
@import url("sections/07_planos.css");
@import url("sections/08_resultados.css");
@import url("sections/04_simetria.css");
@import url("sections/03_sobre.css");
@import url("base/responsive.css");

/* Titles de todas as seções */

/* Paleta de cores */
:root {
	--brown-dark: #714329;
	--brown-medium: #B08463;
	--brown-light: #B9937B;
	--beige: #D0B9A7;
	--beige-gray: #B5A192;
}

body {
	background: white;
	color: black;
}

header, nav {
	background: transparent;
	color: #D0B9A7;
}

.btn, button, .shop-now {
	background: var(--brown-dark);
	color: #fff;
	border-radius: 20px;
	padding: 12px 32px;
	font-weight: bold;
	border: none;
	transition: background 0.3s;
}
.btn:hover, button:hover, .shop-now:hover {
	background: var(--brown-medium);
}



footer {
	background: black;
	color: var(--beige);
}


